# .gitignore

# Python
__pycache__/
*.pyc
venv/
*.egg-info/
*.session

# Environment
.env

# DBT
.dbt/
dbt_packages/  
logs/
target/

# Raw Data
data/

# Dagster temp files
.tmp_dagster_home_akmmvlv5/

# IDE files
.idea/
.vscode/